<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" app>
        <v-sheet class="" height="150" width>
        <v-img src="../assets/logo.png" width="100%" height="100%" />
      </v-sheet>
      <v-list
        v-for="navigator in navigation"
        :key="navigator.title"
        class="list"
      >
        <div v-if="navigator.group">
          <v-list-group
            v-for="item in navigator.items"
            :key="item.title"
            v-model="item.active"
            :prepend-icon="item.action"
            no-action
          >
            <template v-slot:activator="{ props }">
              <v-list-item v-bind="props">
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item>
            </template>
            <v-list-item
              v-for="(item, i) in item.items"
              :key="i"
              :value="item"
              link
            >
            <template v-slot:prepend>
              <v-icon :icon="item.icons"></v-icon>
            </template>

            <v-list-item-title>
                <router-link :to="item.link" style="text-decoration: none; color: inherit;">{{ item.title }}</router-link>
            </v-list-item-title>
            </v-list-item>
          </v-list-group>
        </div>
        <div v-else>
          <v-list-item
            v-for="item in navigator.items"
            :key="item.title"
            :to="item.link"
            link
          >
            <template v-slot:prepend>
              <v-icon>{{ item.icons }}</v-icon>
            </template>
            <v-list-item>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list-item>
        </div>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app color="#1E90FF" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <div class="d-flex align-center">
        <div>INVENTORY MANAGEMENT SYSTEM</div>
      </div>
      <v-spacer></v-spacer>
      <v-menu
        offset-y
        origin="center center"
        :nudge-bottom="10"
        transition="scale-transition"
      >
        <template v-slot:activator="{ props }">
          <span>{{ user.username }}</span>
          <v-btn icon lagre flate v-bind="props" :ripple="false">
            <v-avatar size="30px" color="indigo">
              <v-icon> mdi-account-circle </v-icon>
            </v-avatar>
          </v-btn>
        </template>
        <v-list>
          <v-list-item>
            <v-icon>mdi-account</v-icon>
            <!-- <router-link
              :to="{ name: 'profile_page' }"
              class="blue--text pr-4 ml-2"
              style="text-decoration: none"
            >
              Profile</router-link
            > -->
            Profile
          </v-list-item>
          <v-list-item>
            <v-icon>mdi-logout</v-icon>
            <span
              @click="logout"
              class="blue--text pr-4 ml-2"
              style="text-decoration: none"
              >Log Out</span
            >
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>
<script>
// import User from "../apis/User";
export default {
  name: "navigation",
  data: () => ({
    isLoggedIn: false,
    drawer: null,
    user: {},
    navigation: [
      {
        group: false,
        title: "Dashboard",
        items: [
          {
            title: "Dashboard",
            link: "/inventory-sys/dashboard",
            icons: "mdi-view-dashboard",
          },
        ],
      },
      {
        group: true,
        title: "User Management",
        items: [
          {
            title: "Users ",
            action: "mdi-account-group",
            items: [
              {
                title: "List Users",
                link: "/inventory-sys/users",
                icons: "mdi-account-multiple",
              },
              {
                title: "Add User  ",
                link: "/inventory-sys/adduser",
                icons: "mdi-account-plus",
              },
            ],
          },
        ],
      },
      {
        group: false,
        title: "Order",
        items: [
          {
            title: "Incoming Machine ",
            link: "/inventory-sys/order",
            icons: "mdi-text-box-check",
          },
        ],
      },
      {
        group: true,
        title: "ATM",
        items: [
          {
            title: "Machines",
            action: "mdi-warehouse",
            items: [
              {
                title: "List Machine",
                link: "/inventory-sys/atm",
                icons: "mdi-home-group",
              },
              {
                title: "Add Machine ",
                link: "/inventory-sys/addnewatm",
                icons: "mdi-home-plus",
              },
            ],
          },
        ],
      },
      {
        group: false,
        title: "Report",
        items: [
          {
            title: "Report ",
            link: "/inventory-sys/report",
            icons: "mdi-calendar-export",
          },
        ],
      },
      {
        group:false,
        title: "Spare parts",
        items: [
          {
              title: "Stock Spare Parts",
              link: "/inventory-sys/spare_part",
              icons:"mdi-toolbox",
          },
        ],
      },
    ],
  }),
  created() {
    // User.auth()
    // .then((response) => {
    //   this.user = response.data;
    //   console.log(this.user);
    // })
    // .catch(error=>{
    //     localStorage.removeItem("token");
    //     this.$router.push({ name: "login" });
    // });


  },
  mounted() {
    // this.startTimer();
    // this.$root.$on("login", () => {
    //   this.isLoggedIn = true;
    // });
    // console.log(localStorage);
    // this.isLoggedIn = !!localStorage.getItem("token");
  },

  methods: {
    logout() {
      localStorage.removeItem("token");
      this.isLoggedIn = false;
      this.$router.push({ name: "mainPage" });
    },
    startTimer() {
            this.timer = setTimeout(() => {
                alert('Session expired. You will be logged out.');
                localStorage.removeItem("token");
                this.$router.push('/');
            },1800000) // 30 minutes in milliseconds
        },
  },
};
</script>
<style lang="scss" scoped>
.list {
  padding: 0px;
  margin: 0px;
  color: #1979e7;
}
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0px 30px;
}
</style>
